.game_page {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0%;
  width: 50%;
  height: 30%;
  margin: auto;
  padding: 0.5%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 45px;
  border: 5px solid green;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px green, 0.3em 0.3em 1em black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: -3%;
  margin-bottom: 0%;
}

.score {
  font-family: "Amatic SC", bold;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 90%;
  color: #01d901;
  text-align: left;
  margin-left: 5%;
  margin-top: 0.5%;
  margin-bottom: 3%;
  text-shadow: 0 0 3px white, 0 0 5px lightgreen;
}

.timer {
  font-family: "Amatic SC", bold;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 90%;
  color: #01d901;
  text-align: left;
  margin-left: 5%;
  margin-top: 3%;
  text-shadow: 0 0 3px white, 0 0 5px lightgreen;
}

.game_buttons button {
  font-family: "Amatic SC", bold;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 2px solid rgb(0, 94, 0);
  color: white;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(0, 175, 0),
    rgb(0, 115, 0) 10%,
    rgb(205, 135, 0) 10%,
    rgb(255, 175, 20) 20%
  );
  background-size: 100%;
  transition: background 0.3s ease-in-out;
  align-self: start;
  font-size: xx-large;
}

.game_buttons button:hover {
  background-position: 150px;
}

.game_buttons button:active {
  box-shadow: 0 0 50px lightgreen, 0 0 50px lightgreen;
}

@media screen and (max-width: 768px) {
  .game_page {
    width: 90%; /* Adjust the width for smaller screens */
    height: 25%; /* Adjust the height for smaller screens */
    grid-gap: 2%; /* Increase the gap between fruits for smaller screens */
    border-width: 3px; /* Adjust the border width for smaller screens */
    font-size: 12px; /* Adjust the font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .game_page {
    width: 95%; /* Adjust the width for even smaller screens */
    height: 20%; /* Adjust the height for even smaller screens */
    grid-gap: 4%; /* Increase the gap between fruits for even smaller screens */
    border-width: 2px; /* Adjust the border width for even smaller screens */
    font-size: 10px; /* Adjust the font size for even smaller screens */
  }
}